<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <title>Risk Settings</title>
   </head>
   <body>
      <center>
         <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/signals">Signal Logs</a></li>
            <li><a class="active" href="/max_loss_settings">Risk Settings</a></li>
            <li><a href="/api_settings">Add / Edit API</a></li>
        <div style="display: flex; justify-content: flex-end;">
          <li><a class="logout" href="/logout" >Logout</a></li>
        </div>
         </ul>
      </center>

      <div class="trans-box-header ">
         <center>
            <h1>Max Loss Settings</h1>
         </center>
      </div>
      <div class="trans-box-body-dashboard">
         <div style="display: flex; width: 100%;justify-content: center;">
         <div class="card" style="width:50%">
          <div class="card-inline" style="">
            <form action="/max_loss_settings" method="POST">
               <div >
                  <label  class="trans-box-body" style="border-radius:5px;text-align:center;"for="max_loss">Max Loss </label>
                  <input type="text" name="max_loss" id="max_loss" placeholder="Enter Max Consecutive Loss Value">
                  <input type="submit" value="Save">
               </div></div>
            </form>
            
              <div class="card-inline">
              <form action="/reset_max_loss" method="POST">
                 <div>
                    <label  class="trans-box-body" style="border-radius:5px;text-align:center;"for="max_loss_cap">Reset Consecutive Loss Series </label>
                    <!--<input type="text" name="max_loss_cap" id="max_loss_cap" placeholder="Enter Max Consecutive Loss Value">-->
                    <input type="submit" value="Reset">
                 </div>
              </form>
           </div>
           <div class="code-box-info">
               <h4>
               Max Loss Capping : {{ max_loss_value | safe }}</h3>
            
         </div>
         </div>
         
        </div>
   </body>
</html>